
<meta charset="UTF-8">
<HTML ng-app="CategoriaApp">
	<HEAD>
		
		<script src="../js/jquery.min.js"></script>
		<script src="../js/angular.min.js"></script>
		<script src="../js/utils.js"></script>
		<script src="js/jquerysession.js"></script>
		<script src="../js/angular-resource.js"></script>
		<link rel="stylesheet" href="../style/bootstrap.min.css">
		<link rel="stylesheet" href="../style/css.css"/>

		<script>
			
			var CategoriaApp = angular.module('CategoriaApp', []);
			programaIDGlobal = readCookie('programaIDGlobal');
			latitudLocal = readCookie('addressCurrentLat');
			longitudLocal = readCookie('addressCurrentLon');
			programas = new Object();
			categorias = new Object();
			var categoriaSelected = null;
			
			window.location.href="#openModal" 
			
			if(updateActivated === true){
				cargarArrays();
			}else{
				console.log("MODO MANUAL")
			}
			
			CategoriaApp.controller('CategoriaCtrl', function ($scope, $http){
				$scope.promgrama = null;
				$scope.promgramas = null;
				$scope.categorias = null;
				categoriaSelected = new Object();
				
				$scope.setSelected = function() {
					categoriaSelected = this.cat;
					var sIdPr = categoriaSelected.id;
					writeCookie('catId', sIdPr, 3);
					writeCookie('programaIDGlobal', programaIDGlobal, 3);
					writeCookie('subCatProg', programaIDGlobal, 3);//
					writeCookie('addressCurrentLat', latitudLocal, 3);
					writeCookie('addressCurrentLon', longitudLocal, 3);
				};
				
				
				if(updateActivated === true){
					if(programaIDGlobal.toString() === '100'){//Especialidades
						$scope.categorias = getCategoriasEspecialidades();
					}else if(programaIDGlobal.toString() === '11'){//Mujer Banorte
						$scope.categorias = getCategoriasMujerBanorte();
					}
					else{//Cualquier otro programa
						$scope.categorias = getCategoriasByPrograma();
					}
					$scope.promgrama = getPrograma();
				}else{
				
					$http.get(urlWebServiceLocal).success(function(data) {
						$scope.mineriaDatos = data;
						
						for(var keyName in $scope.mineriaDatos){
							var key=keyName ;
							var object= $scope.mineriaDatos[keyName];

							if(key === 'programas'){
								programas = object;
							}
							else if(key === 'categorias')
								categorias = object;
						}
						
						if(programaIDGlobal.toString() === '100'){//Especialidades
							$scope.categorias = getCategoriasEspecialidades();
						}else if(programaIDGlobal.toString() === '11'){//Mujer Banorte
							$scope.categorias = getCategoriasMujerBanorte();
						}
						else{//Cualquier otro programa
							$scope.categorias = getCategoriasByPrograma();
						}
						$scope.promgrama = getPrograma();
						window.location.href="#close"
					})
						
				}
				//console.log("DataCat: CARGA SCOPE")
			});
			
			
			
		</script>		
	</HEAD>
	<BODY ng-controller="CategoriaCtrl">
		
		<div id="openModal" class="modalDialog">
			<div>
				<a href="#close" title="Close" class="close">X</a>
				<h2>Leyendo categorias...</h2>
				<div class="bar"></div>
			</div>
		</div>
		
		<table>
		  <tr>
			<th></th>
			<th></th>
		  </tr>
		  <tr ng-repeat="cat in categorias" ng-click="setSelected();"
			style="border-style: solid; border-width:1px;	border-color: #aaaaaa white;">
			<td style="text-align: center; padding-bottom: 5px; padding-top: 5px;">
				<IMG class="img-circle" src="{{cat.logo}}">
			</td>
			<td style="width: 100%;" id="itemList">
				<a href="{{cat.top_ad}}" style="padding-left: 2cm;" id="itemList">
					{{cat.title}}
				</a>
			</td>
		  </tr>
		</table>
		
	</BODY>
</HTML> 